<style>
    .carousel-indicators [data-bs-target] {
        width: 5px;
        height: 5px;
        padding: 2px;
        border-radius: 50%;
    }
    .bg-dark-overlay-5:before {
        content: " ";
        background: #000;
        opacity: 0.5;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .modal-backdrop {
        height: inherit;
    }
    .bg-facebook {
  background-color: #5d82d1;
  color: #fff;
}
.bg-facebook:hover {
  background-color: #5475bc;
  color: #fff;
}

.text-facebook {
  color: #5d82d1;
}
.text-facebook:hover {
  color: #5475bc;
}

.bg-instagram {
  background: #c22b72;
  color: #fff;
}
.bg-instagram:hover {
  background-color: #af2767;
  color: #fff;
}

.text-instagram {
  color: #c22b72;
}
.text-instagram:hover {
  color: #af2767;
}

.bg-instagram-gradient {
  background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: #fff;
  background-size: 120% 120%;
  background-position: right bottom;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0;
}
.bg-instagram-gradient:hover {
  background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: #fff;
  background-size: 100% 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-position: left bottom;
}

.text-instagram-gradient {
  color: transparent;
  background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 120% 120%;
}
.text-instagram-gradient:hover {
  color: transparent;
  background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 100% 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bg-google {
  background-color: #3c7ff1;
  color: #fff;
}
.bg-google:hover {
  background-color: #3672d9;
  color: #fff;
}

.text-google {
  color: #3c7ff1;
}
.text-google:hover {
  color: #3672d9;
}

.text-google-icon {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.bg-twitter {
  background-color: #40bff5;
  color: #fff;
}
.bg-twitter:hover {
  background-color: #3aacdd;
  color: #fff;
}

.text-twitter {
  color: #40bff5;
}
.text-twitter:hover {
  color: #3aacdd;
}

.bg-linkedin {
  background-color: #238cc8;
  color: #fff;
}
.bg-linkedin:hover {
  background-color: #207eb4;
  color: #fff;
}

.text-linkedin {
  color: #238cc8;
}
.text-linkedin:hover {
  color: #207eb4;
}

</style>