{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{{page_kwargs}}image/logo_new.jpg">
    <title>{% block title %}
        
        {% endblock %}</title>
    <link rel="stylesheet" href="{{page_kwargs}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{page_kwargs}}css/bootstrap-icons.css">
    {% block css %}
    {% endblock %}
    {% include 'css.html' %}
</head>
<body class="bg-light">
    {% block content %}
    {% endblock %}
    <script src="{{page_kwargs}}js/bundle.min.js"></script>
    <script src="{{page_kwargs}}js/bootstrap.bundle.min.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>