<div class="shadow-sm fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid px-lg-5">
            <a class="navbar-brand" href="{% url 'home' %}">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active px-3 text-uppercase" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active px-3 text-uppercase" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active px-3 text-uppercase" href="#">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active px-3 text-uppercase" href="{% url 'banner_add' %}">Banner</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active px-3 text-uppercase" href="#">Contact</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <div class="dropdown">
                            <!-- <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{% if user_details.avatar %}{{user_details.avatar}}{% else %}{{page_kwargs.static_url}}image/default_user.png{% endif %}" alt="mdo" width="32" height="32" class="border rounded-circle p-1">
                            </a> -->
                            <ul class="dropdown-menu dropdown-menu-end small rounded-0 p-0 fs-7" aria-labelledby="userMenu">
                                <li class="border-bottom"><a class="dropdown-item small d-flex align-items-center" href="#"><i class="bi bi-gear me-2 fs-5"></i>Settings</a></li>
                                <li class=""><a class="dropdown-item small d-flex align-items-center" href="{% url 'logout' %}"><i class="bi bi-door-closed me-2 fs-5"></i>Sign Out</a></li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>