<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- LOGO -->
    <!-- <a href="{% url 'home_page' %}" class="text-center px-3  logo-light">
        <span class="logo-lg">
            <button class="btn btn-primary btn-block">Go to Customer Page</button> 
        </span>
        
    </a> -->

    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!--- Sidemenu -->
        <ul class="side-nav">
            <li class="side-nav-item">
                <a href="{% url 'home' %}" class="side-nav-link">
                    <i class="bi bi-house"></i>
                    <span> Dashboard </span>
                </a>
            </li>
            
            <li class="side-nav-item">
                <a href="{% url 'banner_add' %}" class="side-nav-link">
                    <!-- <i class="bi bi-image-fill"></i> -->
                    <i class="bi bi-bookmark-plus"></i>
                    <span> Banner </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'banner_list' %}" class="side-nav-link">
                    <i class="bi bi-card-checklist"></i>
                    <span> Banner List </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'post' %}" class="side-nav-link">
                    <i class="bi bi-mailbox"></i>
                    <span> Post </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'post_list' %}" class="side-nav-link">
                    <i class="bi bi-card-checklist"></i>
                    <span> Post List </span>
                </a>
            </li> 
            <li class="side-nav-item">
                <a href="{% url 'add_gallery' %}" class="side-nav-link">
                    <i class="bi bi-image"></i>
                    <span> Gallery </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'gallery_list' %}" class="side-nav-link">
                    <i class="bi bi-card-checklist"></i>
                    <span> Gallery List</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'package' %}" class="side-nav-link">
                    <i class="bi bi-box-seam"></i>
                    <span> Package </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'package_list' %}" class="side-nav-link">
                    <i class="bi bi-card-checklist"></i>
                    <span> Package List </span>
                </a>
            </li>
            
            <li class="side-nav-item">
                <a href="{% url 'order_list' %}" class="side-nav-link">
                    <i class="bi bi-truck"></i>
                    <span> Customers Order </span>
                </a>
            </li>
            
            <li class="side-nav-item">
                <a href="{% url 'package_and_event_detail' %}" class="side-nav-link">
                    <i class="bi bi-text-paragraph"></i>
                    <span> package and event detail </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'package_event_list' %}" class="side-nav-link">
                    <i class="bi bi-card-checklist"></i>
                    <span> package & event detail list </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'add_price_list' %}" class="side-nav-link">
                    <i class="bi bi-cash-coin"></i>
                    <span> Add New Price </span>
                </a>
            </li>
            
            <li class="side-nav-item">
                <a href="{% url 'price_list' %}" class="side-nav-link">
                    <i class="bi bi-card-checklist"></i>
                    <span> Price list</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false"
                    aria-controls="sidebarDashboards" class="side-nav-link">
                    <i class="bi bi-person"></i>
                    <!-- <span class="badge bg-success float-end">4</span> -->
                    <span> Account </span>
                </a>
                <div class="collapse" id="sidebarDashboards">
                    <ul class="side-nav-second-level">
                        <li class="side-nav-item">
                            <a href="{% url 'make_admin' %}" class="side-nav-link">
                                <i class="bi bi-person-plus"></i>
                                <span>Add Admin</span>
                            
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="{% url 'admin_list' %}" class="side-nav-link">
                                <i class="bi bi-card-checklist"></i>
                                <span> Admin List</span>
                            </a>
                        </li>
                        
                        <li class="side-nav-item">
                            <a href="{% url 'password_reset' %}" class="side-nav-link">
                                <i class="bi bi-key"></i>
                                <span>Password Rest</span>
                            
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'seo' %}" class="side-nav-link">
                    <i class="bi bi-globe"></i>
                    <span> SEO Content </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'add_about_us' %}" class="side-nav-link">
                    <i class="bi bi-info-circle-fill"></i>
                    <span> Add About Us </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'about_us_list' %}" class="side-nav-link">
                    <i class="bi bi-card-checklist"></i>
                    <span> About Us List </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'logout' %}" class="side-nav-link">
                    <i class="bi bi-box-arrow-right"></i>
                    <span> Logout </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'home_page' %}" class="side-nav-link ">
                    <span class="text-white btn btn-primary align-middle"> Back to Home </span>
                </a>
            </li>
        </ul>
        <!-- End Sidebar -->
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->