{% include 'head.html' %}
{% block content %}
<div class="container-fluid d-flex justify-content-md-center align-items-center">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        
        <div class="panel-heading "><h4>Login</h4></div>
        
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="col-md-6">
            {{ form.email }}
            </div>
            <small id="emailHelp" class="text-danger">{{ form.errors.email }}</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <div class="col-md-6">
                {{ form.password }}
            </div>
            <small id="emailHelp" class="text-danger">{{ form.errors.password }}</small>
        </div>
        <div class="col-auto my-2">
        <button type="submit" class="btn btn-primary">Login</button>
            </div>
            
        <div class="col-auto my-2">
        <small id="emailHelp" class="text-dark">if you don't have an account please </small>
        <a href="{% url 'register' %}" class="text-primary" style="text-decoration:none">Register</a>
            </div>     
      </form>

</div>      
{% endblock %}
